---
import { SERVICES } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Psicoholistic">
  <main class="min-h-[100vh] flex items-center">
    <div class="container mx-auto p-4">
      <div class="flex flex-col items-center">
        <div class="w-[8rem] h-[8rem] bg-transparent rounded-full">
          <img src="/logo.png" alt="Psicoholistic logo" />
        </div>
        <h1 class="text-5xl text-center mb-10 font-extrabold text-yelow">
          Psicoholistic
        </h1>
      </div>

      <ul role="list" class="w-full lg:w-[600px] mx-auto">
        {
          SERVICES.map((el) => {
            return (
              <li class="border-white border-2 rounded-xl p-2 pl-4 mb-4 text-xl font-semibold text-white cursor-pointer hover:bg-white hover:text-black transition-all">
                <a href={el.link}>{el.name}</a>
              </li>
            );
          })
        }
        <!--  <li
          class="border-white border-2 rounded-xl p-2 pl-4 mb-4 text-xl font-semibold text-white cursor-pointer hover:bg-white hover:text-black transition-all"
        >
          <a href="#">Registros akáshicos</a>
        </li> -->
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    background-image: linear-gradient(
      to right top,
      #9967c0,
      #865bb0,
      #744fa1,
      #624391,
      #503882
    );
  }
  img {
    display: block;
    width: 100%;
  }
</style>
